<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.inserted_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
